{% extends "base.html" %}
{% include "header.html" %}
{% include "footer.html" %}
{% load static %}

{% block content %}

<h2>Ultimele activități</h2>
<div class="activities-container">
    {% for a in activitati %}
    <div class="activity-card">
        <h3>{{ a.titlu }}</h3>
        <p>{{ a.data }}</p>
        {% if a.coordonator %}
        <p>Coordonator: {{ a.coordonator }}</p>
        {% else %}
        <p>Coordonator: None</p>
        {% endif %}
        <a href="/activitati/{{ a.id }}">Detalii</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
