{% extends "base.html" %}

{% block content %}

<div class="detail-container">

    {% if activitate.imagine %}
        <img src="{{ activitate.imagine.url }}" class="detail-image">
    {% endif %}

    <div class="detail-content">
        <h1>{{ activitate.titlu }}</h1>

        <p class="detail-meta">
            📅 {{ activitate.data }} | 📂 {{ activitate.categorie }}
            {% if activitate.coordonator %}
            | 👩‍🏫 Coordonator: {{ activitate.coordonator }}
            {% else %}
            | 👩‍🏫 Coordonator: None
            {% endif %}
        </p>

        <p class="detail-description">
            {{ activitate.descriere }}
        </p>

        <a href="{% url 'activitati' %}" class="back-btn">
            ← Înapoi la activități
        </a>
    </div>

</div>

{% endblock %}